<template>
    <div class="menu">
        <div class="menu-left">
            <div class="menu-router-button" v-for="item of menus" :key="item.name">{{item.name}}</div>
        </div>
        <div class="menu-right"></div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            menus:[
                {
                    name:"人员管理"
                },
                 {
                    name:"监控管理"
                }
            ]
        }
    }
}
</script>
<style lang="scss" scoped>
.menu{
    position: absolute;
    right: 20px;
    top:20px;
    display: flex;align-items: center;
    width: 1000px;
    height: 40px;
    background: linear-gradient(to right,rgb(0, 173, 253,0.3),rgb(0, 173, 253,0.2));
    padding-left: 10px;
    padding-right: 10px;
    .menu-left{
        display: flex;align-items: center;
        .menu-router-button{
            width: 100px;
            height: 25px;
            cursor: pointer;
            color: rgb(228, 228, 228);
            border: 1px solid rgb(13, 118, 255);
            margin-right: 10px;
            border-radius: 3px;
            display: flex;align-items: center;justify-content: center;
        }
    }
}
</style>