<template>
  <div class="big-screen">

    <system-title></system-title>
    <system-menu></system-menu>

  </div>
</template>


<style lang="scss" scoped>
.big-screen{
  background: black;
  position: relative;
}
</style>