<template>
    <div class="title">
        <div class="text">Raywing 智慧校园管理平台</div>
    </div>
</template>


<style lang="scss" scoped>
.title{
    position: absolute;
    left:20px;
    top:20px;
    color: white;
    font-size: 25px;
}
</style>