@import url("./layout.scss");
@import url("./element.scss");

#app,
body,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

@font-face {
  font-family: myFirstFont;
  src: url("./font/bigyoung.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "myFirstFont";
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}