
<template>
  <div class="login_container">
    <div class="center-container">
      <div class="login-pic"></div>
      <div class="login_box">
        <div class="login_box_title">智慧校园可视化平台</div>
        <el-input
          class="el-input"
          placeholder="用户名"
          v-model="user"
        ></el-input>
        
        <el-input
          class="el-input"
          placeholder="密码"
          v-model="password"
          show-password
        ></el-input>
        <el-button class="el-input el-button" type="primary" @click="checkLogin"
          >登录</el-button
        >
      </div>
    </div>

    <vue-particles
      color="#fff"
      :particleOpacity="0.7"
      :particlesNumber="60"
      shapeType="circle"
      :particleSize="4"
      linesColor="#fff"
      :linesWidth="1"
      :lineLinked="true"
      :lineOpacity="0.4"
      :linesDistance="150"
      :moveSpeed="2"
      :hoverEffect="true"
      hoverMode="grab"
      :clickEffect="true"
      clickMode="push"
      class="lizi"
      style="height: 100%"
    >
    </vue-particles>
  </div>
</template>
<script>
import { setToken } from "@/utils";
import { USER, PASSWORD } from "@/constant";
export default {
  data() {
    return {
      user: "",
      password: "",
    };
  },
  methods: {
    checkLogin() {
      if (this.user != USER || this.password != PASSWORD) {
        this.$message.error("账号密码错误,登录失败!");
        return;
      }
      this.$message.success("登陆成功!");
      setToken(this.user);
      this.$router.replace({
        name: "index",
      });
    },
  },
};
</script>


<style lang="scss" scoped>
.lizi{
  width: 100vw;
  height: 100vh;
}
.el-button {
  margin-top: 30px !important;
}
.login-pic {
  height: 300px;
  width: 350px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-image: url("../../assets/images/login/login_bg.png");
  background-size: cover;
  background-position: center center;
}
.login_box_title {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.el-input {
  width: 220px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
.login_container {
  background-image: linear-gradient(-180deg, #1a1454 0%, #0e81a5 100%);
  /*background-image: url("../images/bg_login.png");*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.center-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  .login_box {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #2e527bb3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.el-form {
  padding: 32px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.el-button {
  width: 100%;
}
.code {
  width: 45%;
}

.rememberMe {
  color: #fff;
}
</style>